{% extends 'bajoAdmin:/layout/default' %}

{% block body %}
{% cmp 'navbar', margin='bottom3' %}
  {% cmp 'form', display='flex', role='search' %}
    {% cmp 'input', name='query', margin='end2', type='search', placeholder='Search'|t, ariaLabel='Search', value=_meta.reqQuery.query %}{% endcmp %}
  {% endcmp %}
  {% cmp 'viewTypeButtons', view=view, types=['table', 'gridSmall', 'grid'] %}{% endcmp %}
{% endcmp %}
{% if view === 'table' %}
  {% cmp 'crudTable', records=data, schema=schema %}
  {% endcmp %}
{% else %}
  {% cmp 'row', class='masonry' %}
    {% for d in data %}
      {% if view === 'gridSmall' %}
        {% cmp 'col', columns=['small:4', 'large:3'], margin='bottom4' %}
          {% cmp 'crudCard', record=d, schema=schema %}{% endcmp %}
        {% endcmp %}
      {% else %}
        {% cmp 'col', columns=['small:6', 'large:4'], margin='bottom4' %}
          {% cmp 'crudCard', record=d, schema=schema %}{% endcmp %}
        {% endcmp %}
      {% endif %}
    {% endfor %}
  {% endcmp %}
{% endif %}

{% cmp 'pagination', options=params, display='flex', justifyContent='center', margin='top5' %}{% endcmp %}

{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}