{% extends tpl.extend|d('bajoAdmin:/layout/default') %}
{% set baseRoute = tpl.baseRoute|d('bajoAdmin:/coll/:coll') %}
{% set baseId = tpl.baseId|d('coll') %}

{% block body %}
{% cmp 'crudNavbar', view=view, schema=schema, baseRoute=baseRoute, baseId=baseId %}{% endcmp %}
{% if view === 'table' %}
  {% cmp 'crudTable', records=data, schema=schema, id=baseId, route=baseRoute %}
  {% endcmp %}
{% else %}
  {% cmp 'crudGrid', records=data, schema=schema, id=baseId, route=baseRoute %}
  {% endcmp %}
{% endif %}

{% if data.length === 0 %}
  {% cmp 'div', margin='y5', text='center' %}
    {{ 'No record found!'|t }}
  {% endcmp %}
{% endif %}

{% cmp 'crudFooter', options=params %}{% endcmp %}

{% endblock %}

{% block css %}{% endblock %}
{% block script %}{% endblock %}