{% cmp 'html', lang=_meta.lang, dataBsTheme=_meta.darkMode %}
  {% cmp 'head' %}
    {% cmp 'meta', charset='utf-8' %}{% endcmp %}
    {% cmp 'meta', name='viewport', content='width=device-width, initial-scale=1' %}{% endcmp %}
    {% cmp 'title'%}{{ getConfig('bajoAdmin').title|t }} - {{ _meta.site.title }}{% endcmp %}
    {% for c in _meta.theme.css -%}
      {% cmp 'link', rel='stylesheet', href=c %}{% endcmp %}
    {%- endfor %}
    {% cmp 'link', rel='stylesheet', href=assetDir('bajoWebMpa') + '/css/common.css' %}{% endcmp %}
    {% block css %}{% endblock %}
  {% endcmp %}
  {% cmp 'body', padding=0, margin=0 %}
    {% cmp 'navbar', expand='large', bg='primary', sticky='top', dark=true, padding='y3', shadow=true %}
      {% cmp 'container', sizing='medium' %}
        {% cmp 'navbarBrand', dataBsToggle='offcanvas', href='#coll-offcanvas' %}
          {% cmp 'icon', name='gear', margin='end1' %}{% endcmp %}
          {{ _meta.title.plugin|t }}
        {% endcmp %}
        {% cmp 'navbarToggler', collapseId='main-navs' %}{% endcmp %}
        {% cmp 'navbarCollapse', id='main-navs' %}
          {% cmp 'nav', navbar=true, flex='grow1' %}
            {% cmp 'navItem', noLink=true %}
              {{ _meta.title.page|t }}
              {% if _meta.title.subPage %}{% cmp 'icon', name='chevronEnd' %}{%endcmp%} {{ _meta.title.subPage|t }}{% endif %}
              {% if _meta.title.subSubPage %}{% cmp 'icon', name='chevronEnd' %}{%endcmp%} {{ _meta.title.subSubPage|t }}{% endif %}
            {% endcmp %}
          {% endcmp %}
          {% include 'bajoWebMpa:/partial/nav-switcher' %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
    {% include 'bajoAdmin:/partial/offcanvas' %}
    {% cmp 'container', sizing='medium', margin='top3' %}
      {% block body %}{% endblock %}
    {% endcmp %}
    {% include 'bajoWebMpa:/partial/footer' %}
    {% include 'bajoWebMpa:/partial/toast' %}
    {% for s in _meta.theme.script -%}
      {% cmp 'script', src=s %}{% endcmp %}
    {%- endfor %}
    {% block script %}{% endblock %}
    {% if _meta.script %}
    <script>
$(function () {
  {{ _meta.script|join('\n') }}
})
    </script>
    {% endif %}
  {% endcmp %}
{% endcmp %}
